body{
    padding-top: 70px;
    text-align: center;
    background-color: cornsilk;
}
.navbar {
    background-color: rgba(164, 2, 0, 0.75);
}
.card{
    -webkit-box-shadow: 10px 9px 9px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 9px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 9px -6px rgba(0,0,0,0.75);
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 5px;
    border-radius: 20px;
    background-image: url(images/texture.jpg);
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
}
